.contact-body {
  font-family: Arial, sans-serif;
  background-color: #1b1b1b;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.contact-container {
  width: 85%;
  display: flex;
  justify-content: space-around;
  padding: 3% 5%;
  background-color: rgba(81, 81, 80, 0.723);
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 10px,
    transparent 10px,
    transparent 20px
  );
  border: 2px solid #333;
  border-radius: 10px;
  margin: 2% auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.contact-details {
  flex: 1;
  padding: 20px;
  margin-top: 5%;
}

.contact-details h1,
.contact-details h3 {
  color: #f7b32b;
}

.contact-hr {
  border-color: #f7b32b;
  margin: 10% 20% 10% 0%;
}

.contact-details p {
  font-size: 1.1rem;
  margin: 8px 0;
}

.contact-form-wrapper {
  flex: 1;
  padding: 20px;
}

.contact-form-wrapper h2 {
  color: #f7b32b;
  margin-bottom: 20px;
}

.contact-form-custom {
  display: flex;
  flex-direction: column;
}

.contact-form-custom label {
  margin: 10px 0 5px;
  font-size: 1rem;
  color: #f7b32b;
}

.contact-form-custom input[type="text"],
.contact-form-custom input[type="email"],
.contact-form-custom input[type="tel"],
.contact-form-custom textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #f1f1f1;
}

.contact-form-custom input[type="text"]:focus,
.contact-form-custom input[type="email"]:focus,
.contact-form-custom input[type="tel"]:focus,
.contact-form-custom textarea:focus {
  outline: none;
  border: 1px solid #f7b32b;
}

.contact-form-custom textarea {
  resize: none;
}

.contact-form-custom input[type="submit"] {
  padding: 12px;
  background-color: #f7b32b;
  color: #1b1b1b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-form-custom input[type="submit"]:hover {
  background-color: #e69c00;
}

.contact-success-message {
  color: #28a745;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.contact-error-message {
  color: #dc3545;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
