/* contact css*/

.contact-details {
  flex: 1;
  padding: 20px;
  margin-top: 5%;
}

.contact-hr {
  border-color: #f7b32b;
  margin: 10% 20% 10% 0%;
}

.contact-form-wrapper {
  flex: 1;
  padding: 20px;
}

.contact-form-wrapper h2 {
  color: #f7b32b;
  margin-bottom: 20px;
}

.contact-form-custom {
  display: flex;
  flex-direction: column;
}

.contact-form-custom label {
  margin: 10px 0 5px;
  color: #f7b32b;
}

.contact-form-custom input[type="text"],
.contact-form-custom input[type="email"],
.contact-form-custom input[type="tel"],
.contact-form-custom textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #f1f1f1;
}

.contact-form-custom input[type="text"]:focus,
.contact-form-custom input[type="email"]:focus,
.contact-form-custom input[type="tel"]:focus,
.contact-form-custom textarea:focus {
  outline: none;
  border: 1px solid #f7b32b;
}

.contact-form-custom textarea {
  resize: none;
}

.contact-form-custom input[type="submit"] {
  padding: 12px;
  background-color: #f7b32b;
  color: #1b1b1b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form-custom input[type="submit"]:hover {
  background-color: #e69c00;
}

.contact-success-message {
  color: #28a745;
  margin-bottom: 20px;
}

.contact-error-message {
  color: #dc3545;
  margin-bottom: 20px;
}
