/* hero css*/
@font-face {
  font-family: "OldEnglish";
  src: url("assets/fonts/oldenglishtextmt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  border-bottom: 10px solid black;
}

.hero-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.448);
  z-index: -1;
}
.hero-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/Hero.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.nav-link {
  position: relative;
  background-color: rgba(0, 0, 0, 0.837);
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin: 2rem 1rem 0rem 1rem;
  z-index: 2;
  transition: 0.2s ease-in-out;
}

.thechurch {
  margin-bottom: 5px;
  font-family: "OldEnglish", sans-serif;
  cursor: pointer;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.6),
    0 0 8px rgba(255, 255, 255, 0.4), 0 0 15px rgba(173, 216, 230, 0.5),
    0 0 20px rgba(173, 216, 230, 0.5), 0 0 25px rgba(173, 216, 230, 0.5),
    0 0 30px rgba(173, 216, 230, 0.5), 0 0 35px rgba(173, 216, 230, 0.5);
}

/* hero css END*/
